# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

/.idea
/.vscode
/.vagrant
*.pyc
/dist
/build
/test
/tests
/server/.idea/
/logs/
/server/.idea
/server/logs/
server/logs/
/logs/
db.sqlite3
install.sh
*.pyc
.venv
server/api/um/temp_files/*.txt

/temp_files/*.txt
settings.local.py